body {
    background-color: #fded93;
    box-sizing: border-box;
    font-family: 'Monospace';
 }
  
    .wrapper {
        justify-content: center;
        display: flex;
    }   

    .flex-outer {
        max-width: 700px;
    }
  
    .header > h1 {
        font-family: 'Monospace', Lucida 'Courier New', Courier, monospace;
  
    }
  
    .header {
        justify-content: center;
        display: flex;
    }
    
    .search-form {
        max-width: 400px;
        margin: 50px auto;
        font-family: 'Monospace', Lucida 'Courier New', Courier, monospace;
    }
  
    input {
        width: 100%;
        padding: 10px;
      }
  
    .suggestions li {
        display: block;
    }

    li {
        margin: 5px;
        padding: 5px;
        max-width: 400px;
        background: #240000;
        background: linear-gradient(90deg, rgba(8, 241, 27, 0.842) 0%, rgb(45, 232, 76) 0%, rgb(13, 207, 55) 100%);
    }
  
    .name {
        font-size: 25px;
    }